h1, h4 {
  text-align: center;
}

input {
  min-width: 250px;
  margin-bottom: 5px;
}

.results {
  margin: 20px 0 20px 0;
  #profile-div {
    margin-top: 10px;
  }
}

#help-block {
  display: none;
  font-size: 12px;
}

@media only screen and (min-width: 992px) {
  #help-block {
    margin-left: 120px;
  }
}
